@font-face {
    font-family: 'volvosanspro_light';
    src: url('../fonts/volvosanspro-light-webfont.eot');
    src: url('../fonts/volvosanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/volvosanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/volvosanspro-light-webfont.woff') format('woff'),
         url('../fonts/volvosanspro-light-webfont.ttf') format('truetype'),
         url('../fonts/volvosanspro-light-webfont.svg#helveturklinebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'volvosanspro_medium';
    src: url('../fonts/volvosanspro-medium-webfont.eot');
    src: url('../fonts/volvosanspro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/volvosanspro-medium-webfont.woff2') format('woff2'),
         url('../fonts/volvosanspro-medium-webfont.woff') format('woff'),
         url('../fonts/volvosanspro-medium-webfont.ttf') format('truetype'),
         url('../fonts/volvosanspro-medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'volvosanspro_regular';
    src: url('../fonts/volvosanspro-regular-webfont.eot');
    src: url('../fonts/volvosanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/volvosanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/volvosanspro-regular-webfont.woff') format('woff'),
         url('../fonts/volvosanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/volvosanspro-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'volvoserifpro_italic';
    src: url('../fonts/VolvoSerifPro-Italic.eot');
    src: url('../fonts/VolvoSerifPro-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VolvoSerifPro-Italic.woff2') format('woff2'),
         url('../fonts/VolvoSerifPro-Italic.woff') format('woff'),
         url('../fonts/VolvoSerifPro-Italict.ttf') format('truetype'),
         url('../fonts/VolvoSerifPro-Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'volvobroad';
    src: url('../fonts/volvobroadpro-webfont.eot');
    src: url('../fonts/volvobroadpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/volvobroadpro-webfont.woff2') format('woff2'),
         url('../fonts/volvobroadpro-webfont.woff') format('woff'),
         url('../fonts/volvobroadpro-webfont.ttf') format('truetype'),
         url('../fonts/volvobroadpro-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
