* {
	box-sizing: border-box;
}

$darkblue: #002f55;

body {
	line-height: 27px;
}

a {
	transition: all 0.2s;
}

@mixin breakpoint($point) {
	@if $point == phone {
		@media (max-width: 767px) {
			@content;
		}
	}

	@else if $point == tablet {
		@media (min-width: 768px) and (max-width: 1239px) {
			@content;
		}
	}

	@else if $point == desktop {
		@media (min-width: 1240px) {
			@content;
		}
	}
}