@font-face {
    font-family: 'helveturklinebold';
    src: url('../fonts/helvetica_bold-webfont.eot');
    src: url('../fonts/helvetica_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica_bold-webfont.woff2') format('woff2'),
         url('../fonts/helvetica_bold-webfont.woff') format('woff'),
         url('../fonts/helvetica_bold-webfont.ttf') format('truetype'),
         url('../fonts/helvetica_bold-webfont.svg#helveturklinebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveturklineregular';
    src: url('../fonts/helvetica-webfont.eot');
    src: url('../fonts/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-webfont.woff') format('woff'),
         url('../fonts/helvetica-webfont.ttf') format('truetype'),
         url('../fonts/helvetica-webfont.svg#helveturklineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'turkcell_saturabold';
    src: url('../fonts/turkcell_satura_bold-webfont.eot');
    src: url('../fonts/turkcell_satura_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/turkcell_satura_bold-webfont.woff2') format('woff2'),
         url('../fonts/turkcell_satura_bold-webfont.woff') format('woff'),
         url('../fonts/turkcell_satura_bold-webfont.ttf') format('truetype'),
         url('../fonts/turkcell_satura_bold-webfont.svg#turkcell_saturabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'turkcell_saturamedium';
    src: url('../fonts/turkcell_satura_medium-webfont.eot');
    src: url('../fonts/turkcell_satura_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/turkcell_satura_medium-webfont.woff2') format('woff2'),
         url('../fonts/turkcell_satura_medium-webfont.woff') format('woff'),
         url('../fonts/turkcell_satura_medium-webfont.ttf') format('truetype'),
         url('../fonts/turkcell_satura_medium-webfont.svg#turkcell_saturamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'turkcell_saturaregular';
    src: url('../fonts/turkcell_satura_regular-webfont.eot');
    src: url('../fonts/turkcell_satura_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/turkcell_satura_regular-webfont.woff2') format('woff2'),
         url('../fonts/turkcell_satura_regular-webfont.woff') format('woff'),
         url('../fonts/turkcell_satura_regular-webfont.ttf') format('truetype'),
         url('../fonts/turkcell_satura_regular-webfont.svg#turkcell_saturaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}